/* Estilo geral */
body {
  background-color: rgb(209, 209, 209);
  font-family: Arial, sans-serif;
 
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #000;
  padding: 10px;
  background-color: rgba(15, 183, 212, 0.5);
  margin-top: 0px;
  margin-left: 0px;
}

/* Formulário */
.cadastro {
  margin: 20px auto;
  max-width: 800px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Alinhamento de pares de label e input */
.Informacoes {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: space-between; /* Espaço entre label e input */
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
  width: 30%; /* Largura do label */
  text-align: right; /* Alinha o texto do label à direita */
  margin-right: 10px; /* Espaço entre o label e o input */
}

input {
  background-color: rgb(185, 191, 196);
  height: 30px;
  width: 60%; /* Largura do campo de entrada */
  font-size: 16px;
  padding: 5px; /* espaço entre a borda e o texto do input */
  border: 1px solid rgb(21, 20, 20);
  border-radius: 5px; 
}

button{
  align-items: center;
  font-size: 22px;
 
}

a{ /* ta tirando a linhasublinha do link e mudando  a cor */
  text-decoration: none;
  color: black;
}

a:houver{
  text-decoration: underline;
  color: aquamarine;
}